In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('act.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Id', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE',
       'Age', 'Alive', 'Condition_CODE', 'Condition_DESCRIPTION',
       'Condition_Time', 'ENCOUNTERCLASS', 'BASE_ENCOUNTER_COST',
       'ENCOUNTER_TOTAL_CLAIM_COST', 'ENCOUNTER_PAYER_COVERAGE',
       'Encounter_Time', 'MEDICATION_CODE', 'Medicine_DESCRIPTION',
       'MEDICATION_BASE_COST', 'MEDICATION_PAYER_COVERAGE',
       'MEDICATION_DISPENSES', 'MEDICATION_TOTALCOST', 'MEDICATION_REASONCODE',
       'Medication_Time', 'PROCEDURE_CODE', 'Procedure_DESCRIPTION',
       'PROCEDURE_BASE_COST', 'PROCEDURE_REASONCODE', 'adherence'],
      dtype='object')

In [4]:
df.drop(['Condition_DESCRIPTION','Medicine_DESCRIPTION','Procedure_DESCRIPTION','PROCEDURE_REASONCODE'],axis=1,inplace=True)

In [5]:
df.iloc[0,:]

Unnamed: 0                                                                    0
Unnamed: 0.1                                                                  0
Id                                         1d604da9-9a81-4ba9-80c2-de3375d59b40
MARITAL                                                                       M
RACE                                                                      white
ETHNICITY                                                              hispanic
GENDER                                                                        M
BIRTHPLACE                                     Marigot  Saint Andrew Parish  DM
HEALTHCARE_EXPENSES                                                   271227.08
HEALTHCARE_COVERAGE                                                     1334.88
Age                                                                          32
Alive                                                                         1
Condition_CODE                                                      [444814009]
Condition_Time                                                     [0.08333333]
ENCOUNTERCLASS                ['ambulatory' 'ambulatory' 'wellness' 'wellnes...
BASE_ENCOUNTER_COST                 [129.16 129.16 129.16 129.16 129.16 129.16]
ENCOUNTER_TOTAL_CLAIM_COST          [129.16 129.16 129.16 129.16 129.16 129.16]
ENCOUNTER_PAYER_COVERAGE                                    [0. 0. 0. 0. 0. 0.]
Encounter_Time                            [ 900.  900.  900. 1800.  900.  900.]
MEDICATION_CODE                                                 [562251 562251]
MEDICATION_BASE_COST                                              [11.91 29.89]
MEDICATION_PAYER_COVERAGE                                               [0. 0.]
MEDICATION_DISPENSES                                                      [1 1]
MEDICATION_TOTALCOST                                              [11.91 29.89]
MEDICATION_REASONCODE                           [4.44814009e+08 4.44814009e+08]
Medication_Time                                     [365.          30.41666667]
PROCEDURE_CODE                                                      [430193006]
PROCEDURE_BASE_COST                                                    [416.69]
adherence                                                                     0
Name: 0, dtype: object

In [6]:
df.drop(['MEDICATION_REASONCODE'],axis=1,inplace=True)

In [7]:
from sklearn import preprocessing

In [8]:
label_encoder = preprocessing.LabelEncoder()

In [9]:
df['PROCEDURE_CODE'] = label_encoder.fit_transform(df['PROCEDURE_CODE'])

In [10]:
df['PROCEDURE_BASE_COST'] = label_encoder.fit_transform(df['PROCEDURE_BASE_COST'])
df['Medication_Time'] = label_encoder.fit_transform(df['Medication_Time'])
df['MEDICATION_TOTALCOST'] = label_encoder.fit_transform(df['MEDICATION_TOTALCOST'])
df['MEDICATION_DISPENSES'] = label_encoder.fit_transform(df['MEDICATION_DISPENSES'])
df['MEDICATION_PAYER_COVERAGE'] = label_encoder.fit_transform(df['MEDICATION_PAYER_COVERAGE'])
df['MEDICATION_BASE_COST'] = label_encoder.fit_transform(df['MEDICATION_BASE_COST'])
df['MEDICATION_CODE'] = label_encoder.fit_transform(df['MEDICATION_CODE'])
df['Encounter_Time'] = label_encoder.fit_transform(df['Encounter_Time'])
df['ENCOUNTER_PAYER_COVERAGE'] = label_encoder.fit_transform(df['ENCOUNTER_PAYER_COVERAGE'])
df['ENCOUNTER_TOTAL_CLAIM_COST'] = label_encoder.fit_transform(df['ENCOUNTER_TOTAL_CLAIM_COST'])
df['BASE_ENCOUNTER_COST'] = label_encoder.fit_transform(df['BASE_ENCOUNTER_COST'])
df['ENCOUNTERCLASS'] = label_encoder.fit_transform(df['ENCOUNTERCLASS'])
df['Condition_Time'] = label_encoder.fit_transform(df['Condition_Time'])
df['Condition_CODE'] = label_encoder.fit_transform(df['Condition_CODE'])
df['BIRTHPLACE'] = label_encoder.fit_transform(df['BIRTHPLACE'])
df['ETHNICITY'] = label_encoder.fit_transform(df['ETHNICITY'])
df['GENDER'] = label_encoder.fit_transform(df['GENDER'])
df['RACE'] = label_encoder.fit_transform(df['RACE'])
df['ETHNICITY'] = label_encoder.fit_transform(df['ETHNICITY'])
df['MARITAL'] = label_encoder.fit_transform(df['MARITAL'])

In [11]:
df.drop(['Id','Unnamed: 0','Unnamed: 0.1'],axis=1,inplace=True)

In [12]:
import copy

In [13]:
df

,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,Age,Alive,Condition_CODE,...,Encounter_Time,MEDICATION_CODE,MEDICATION_BASE_COST,MEDICATION_PAYER_COVERAGE,MEDICATION_DISPENSES,MEDICATION_TOTALCOST,Medication_Time,PROCEDURE_CODE,PROCEDURE_BASE_COST,adherence
0,1,4,0,1,136,271227.08,1334.88,32,1,1024,...,430,151,90,56,65,88,316,914,890,0
1,1,4,1,1,61,793946.01,3204.49,37,1,603,...,790,126,626,57,159,746,298,914,1029,1
2,1,4,1,1,236,574111.90,2606.40,29,1,901,...,481,196,580,56,65,673,49,622,545,0
3,1,4,1,0,291,935630.30,8756.19,43,1,935,...,652,10,664,55,118,862,309,559,552,1
4,0,4,1,1,189,598763.07,3772.20,25,1,832,...,686,126,631,57,159,749,336,914,1015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,1,0,0,0,112,1622314.87,32086.31,99,1,121,...,872,138,366,79,318,238,281,304,841,0
1168,2,4,1,1,255,979724.25,3130.52,44,1,1011,...,524,194,280,57,159,308,336,912,892,1
1169,2,4,1,0,76,1560540.35,52391.24,107,0,176,...,52,213,247,57,80,301,313,503,174,1
1170,1,4,1,0,236,1375833.47,13157.00,107,0,170,...,1149,76,366,57,202,833,260,75,359,1
1171,1,4,1,0,289,1510158.34,26565.65,107,1,1063,...,514,0,0,0,0,0,0,417,864,0

In [14]:
df1 = copy.deepcopy(df)

In [15]:
data = df1.values
X,Y  = data[:,:-1],data[:,-1]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.10)

In [18]:
import sklearn.ensemble

In [19]:
model1 = sklearn.ensemble.RandomForestClassifier()

In [21]:
model1.fit(X_train,Y_train)

RandomForestClassifier()

In [26]:
model1.score(X_test,Y_test)

0.4830508474576271

In [28]:
from sklearn.svm import SVC

In [29]:
model2 = SVC()

In [30]:
model2.fit(X_train,Y_train)

SVC()

In [31]:
model2.score(X_test,Y_test)

0.5169491525423728

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
model3 = LogisticRegression()

In [34]:
model3.fit(X_train,Y_train)

LogisticRegression()

In [35]:
model3.score(X_test,Y_test)

0.5508474576271186

In [36]:
sum = model3.predict_proba(X)

In [37]:
sum

array([[0.4805315 , 0.5194685 ],
       [0.5661632 , 0.4338368 ],
       [0.54958256, 0.45041744],
       ...,
       [0.47417214, 0.52582786],
       [0.50756272, 0.49243728],
       [0.5497562 , 0.4502438 ]])

In [48]:
probs = []
for i in range(len(sum)):
    probs.append(sum[i,1])

In [49]:
probs
max1 = max(probs)
min1 = min(probs)
probs = (probs-min1)/(max1-min1)

In [50]:
probs

array([0.6047732 , 0.32301312, 0.37756959, ..., 0.62569785, 0.51583044,
       0.37699825])

In [52]:
import pickle

In [53]:
filename = 'trained.sav'
pickle.dump(model3,open(filename,'wb'))

In [54]:
df = pd.read_csv('final.csv')

In [56]:
df['Adherence Probability'] = probs

In [58]:
df.to_csv('final.csv')

In [60]:
df1.to_csv('final_XY.csv')

In [61]:
print(0xA + 0xB + 0xC)

33

In [72]:
a = np.zeros((5,3),dtype = int)
b = np.ones((2,4),dtype = int)

In [74]:
a[b].shape

(2, 4, 3)

In [75]:
'2'==2

False